* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 2vw 5vw;
    font-size: 5vw;
    color: crimson;
    width: 100vw;
}

.block {
    border: 1px solid black; /* Для визуального контроля */
    padding: 10px;
    text-align: center;
}

.main-container {
    display: flex;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.content-container {
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}

#block1 {
    background-color: rgb(161, 108, 102);
    width: 20vw;
    height: 100vw;
    padding: 10px;
    font-size: 3vw;
}

#block2 {
    background-color: rgb(102, 161, 114);
    width: 80vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

#block3 {
    background-color: rgb(230, 185, 95);
    width: 60vw;
    height: 90vw; /* Уменьшено для размещения блока 4 */
    position: relative;
}

#block4 {
    background-color: antiquewhite;
    width: 100%; /* По ширине блока 3 */
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0; /* Размещаем внизу блока 3 */
    left: 0;
    font-size: 2vw;
}

.inner-container {
    display: flex;
    width: 100%;
    gap: 0;
}

#block5 {
    background-color: lightblue;
    width: 20vw;
    height: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    overflow: auto;
}

.block img {
    max-width: 100%; /* Ограничивает ширину изображения пределами блока */
    height: auto; /* Сохраняет пропорции изображения */
    display: block; /* Убирает лишние отступы снизу */
}

footer {
    background-color: #333;
    padding: 2vw 5vw;
    font-size: 5vw;
    color: crimson;
    width: 100vw;
    text-align: right; /* Перемещает текст вправо */
}