header {
    background-color: #333;
    padding: 0.5px 0 5px;
    font-size: 35px;
    color:crimson;
    
    
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
    height: 100vh;
}

h1 {
    margin-top: 50px;
    color: #333;
}

#block1 {
    background-color:rgb(161, 108, 102);
    overflow: auto;

    height: 600px;
    margin-bottom: auto;
    width: 20%;
    margin-top: 20px;
    font-size: 2vw;
    text-align: left;
    
}





#block2 {
    background-color: rgb(108, 91, 178);
    height: 50px;
    width: 79%;
    margin-left: 21%;
    margin-top: -600px;
    font-size:2vw;
    margin-right: 0;
}


#block3 {
    background-color:aquamarine;
    margin-top: 1%;
    width: 20%;
    height: 525px;
    margin-left: auto;
    margin-bottom: auto;
    font-size: 2vw; 
    overflow: auto;

}



#block4 {
    background-color:rgb(88, 132, 87);
    height:11%;
    width:58%;
    margin-top: -10px;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    word-break: break-all;
}

#block5 {
    background-color:antiquewhite;
    height:51%;
    width:58%;
    margin-top: -524px;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}


#shapka {
    
    padding-right: 80%;
    
}
#footer {
    background-color: #333;
    padding: 0.5px 0 5px;
    font-size: 35px;
    margin-top: 1%;
    margin-bottom: 0;
    color:crimson;
        
}
#footertext {
    padding-top: auto;
    padding-left: 80%;
    font-size: 35px;
    color:crimson;
}