header {
    background-color: #333;
    padding: 0.5px 0 5px;
    font-size: 35px;
    color:crimson;
    
    
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
    height: 100vh;
}

h1 {
    margin-top: 50px;
    color: #333;
}

#block1 {
    background-color:rgb(157, 181, 163);
    overflow: auto;
    height: 599px;
    margin-bottom: auto;
    width: 20%;
    margin-top: 20px;
    font-size: 2vw;
    
}





#block2 {
    background-color: rgb(62, 182, 182);
    height: 50px;
    width: 79%;
    margin-left: 21%;
    margin-top: -600px;
    font-size:2vw;
    margin-right: 0;
}


#block3 {
    background-color:rgb(109, 97, 138);
    margin-top: auto;
    width: 20%;
    height: 535px;
    margin-left: auto;
    margin-bottom: auto;
    font-size: 2vw;
}



#block4 {
    background-color:rgb(154, 173, 128);
    height:9%;
    width:58%;
    margin-top: 25px;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    padding-top: 20px;
}

#block5 {
    background-color:rgb(226, 179, 118);
    height:47%;
    width:58%;
    margin-top: -535px;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    padding-top: 30px;
}


#block5 img {
    width: 300px; /* Изображение занимает 100% ширины блока */
    height: auto; /* Высота подстраивается пропорционально */
    display: block; /* Убираем пробелы снизу изображения */
    margin: auto;
}

#shapka {
    
    padding-right: 80%;
    
}
#footer {
    background-color: #333;
    padding: 0.5px 0 5px;
    font-size: 35px;
    margin-top: 1%;
    color:crimson;
        
}
#footertext {
    padding-top: auto;
    padding-left: 80%;
    font-size: 35px;
    color:crimson;
}